<div class=rides>
	
	<% 
		$.ajax({
			url: "/users",
			dataType: "json",
			method: "GET",
			data: {   },
			success: parseUser.bind(this)
			
		});

		function parseUser(result) {
			current_user = result;
		}
	%>

	<% rides.each(function(ride) { %>
		<a href="#rides/<%=ride.id%>">
		<div class="ride_info">
			<div class="date_title">
				<div><%=ride.get('title')%></div>
				<div><%=ride.get('date')%></div>
			</div>
			<div><%=ride.get('distance')%> miles</div>
			<div><%=ride.get('elevation')%> ft. of climbing</div>
		</div>
		</a>
	<% }); %>
	<% 
		function getMonday(d) {
  			d = new Date(d);
  			var day = d.getDay(),
      		diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
  			return new Date(d.setDate(diff));
		}
		
		var monday = getMonday(new Date());
	%>

	<% setTimeout(calculateMiles.bind(this), 1000); %>
	<% function calculateMiles() {
		miles = 0;
		climb = 0;
		this.collection.each(function(ride) {
			date = new Date(ride.get('date'));
			if (date >= monday ) {
				if (ride.get('user_id') === current_user.id) {
					miles += ride.get('distance');
					climb += ride.get('elevation');
				}
			}
		})
	} %>

</div>