<div class=rides>
	
	<% 
		$.ajax({
			url: "/users",
			dataType: "json",
			method: "GET",
			data: {   },
			success: parseUser.bind(this)
			
		});

		function parseUser(result) {
			current_user = result;
		}
	%>
	
	<% rides.each(function(ride) { %>
		<a href="#rides/<%=ride.id%>">
		<div class="ride_info">
			<div class="date_title">
				<div><%=ride.get('title')%></div>
				<div><%=ride.get('date')%></div>
			</div>
			<div><%=ride.get('distance')%> miles</div>
			<div><%=ride.get('elevation')%> ft. of climbing</div>
		</div>
		</a>
	<% }); %>
	<% 
		function getMonday(d) {
  			d = new Date(d);
  			var day = d.getDay(),
      		diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
  			return new Date(d.setDate(diff));
		}
		debugger
		var monday = getMonday(new Date());
	%>

</div>