<div class="rides col-xs-12">
	<% 
		$.ajax({
			url: "/users",
			dataType: "json",
			method: "GET",
			data: {   },
			success: parseUser.bind(this)
			
		});

		function parseUser(result) {
			current_user = result;
		}
	%>
	<div class="rides_container">
		<% rides.each(function(ride) { %>
			<a href="#rides/<%=ride.id%>">
			<div class="ride_info">
				<div class="date_title">
					<div id="ride-index-title"><%=ride.get('title')%></div>
					<div id="ride-index-username">A ride by <%=ride.get('username')%></div>
					<div id="ride-index-date"><%=ride.get('date')%></div>
				</div>
				<div id="ride-index-distance"><%=ride.get('distance')%> miles</div>
				<div id="ride-index-elevation"><%=ride.get('elevation')%> ft. of climbing</div>
			</div>
			</a>
		<% }); %>
	</div>
	
</div>