<div class=rides>
	
	<% rides.each(function(ride) { %>
		<a href="#rides/<%=ride.id%>">
		<div class="ride_info">
			<div class="date_title">
				<div><%=ride.get('title')%></div>
				<div><%=ride.get('date')%></div>
			</div>
			<div><%=ride.get('distance')%> miles</div>
			<div><%=ride.get('elevation')%> ft. of climbing</div>
		</div>
		</a>
	<% }); %>
</div>