<div class=rides>
	<% 
		$.ajax({
			url: "/users",
			dataType: "json",
			method: "GET",
			data: {   },
			success: parseUser.bind(this)
			
		});

		function parseUser(result) {
			current_user = result;
			get_rides(this.collection);
		}
	%>

	

	<% function get_rides(collection) {
		my_rides = [];
		rides= collection;
			rides.each(function(ride) { 
				if (ride.get('user_id') === current_user.id) {
					my_rides.push(ride)
				}
			});
		};
	%>

	<% rides.each(function(ride) { %>
		<a href="#rides/<%=ride.id%>">
		<div class="ride_info">
			<div class="date_title">
				<div><%=ride.get('title')%></div>
				<div><%=ride.get('date')%></div>
			</div>
			<div><%=ride.get('distance')%> miles</div>
			<div><%=ride.get('elevation')%> ft. of climbing</div>
		</div>
		</a>
	<% }); %>
	<% 
		function getMonday(d) {
  			d = new Date(d);
  			var day = d.getDay(),
      		diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
  			return new Date(d.setDate(diff));
		}
		endOfMonth = new Date();
		endOfYear = new Date();
		endOfMonth.setDate(0);
		endOfYear.setMonth(0);
		endOfYear.setDate(0);
		monday = getMonday(new Date());
	%>

	<% setTimeout(calculateMiles.bind(this), 2000); %>
	<% setTimeout(function(){
      google.load('visualization', '1', {
        'callback':'', 'packages':['corechart', 'columnchart']
      })
    }, 1000) %>

	<% function calculateMiles() {
		weekMiles = 0;
		weekClimb = 0;

		monthMiles = 0;
		monthClimb = 0;

		yearMiles = 0;
		yearClimb = 0;

		allMiles = 0;
		allClimb = 0;

		weekRides = [];
		monthRides = [];
		yearRides = [];

		this.collection.each(function(ride) {
			if (ride.get('user_id') === current_user.id) {
				date = new Date(ride.get('date'));
				if (date >= monday ) {	
					weekRides.push(ride)
				}
				if (date >= endOfMonth) {
					monthRides.push(ride)
				}
				if (date >= endOfYear) {
					yearRides.push(ride)
				}
			}
		})
		
		weekRides.forEach(function(ride) {
			weekMiles += ride.get('distance');
			weekClimb += ride.get('elevation');
		});

		monthRides.forEach(function(ride) {
			monthMiles += ride.get('distance');
			monthClimb += ride.get('elevation');
		});

		yearRides.forEach(function(ride) {
			yearMiles += ride.get('distance');
			yearClimb += ride.get('elevation');
		});

		my_rides.forEach(function(ride) {
			allMiles += ride.get('distance');
			allClimb += ride.get('elevation');
		});
		

		$('#weekMiles').html(Math.floor(weekMiles) + " miles");
		$('#weekClimb').html(Math.floor(weekClimb) + " feet");
		$('#monthMiles').html(Math.floor(monthMiles) + " miles");
		$('#monthClimb').html(Math.floor(monthClimb) + " feet");
		$('#yearMiles').html(Math.floor(yearMiles) + " miles");
		$('#yearClimb').html(Math.floor(yearClimb) + " feet");
		$('#allMiles').html(Math.floor(allMiles) + " miles");
		$('#allClimb').html(Math.floor(allClimb) + " feet");
		
	} %>
	<div id="rides_data_summary">
			<div id="weekInfo" class="cumulative_info">
				<a href="#rides/overview/<%=encodeURI(monday)%>">
				<div id="time_range">This week:</div>
				<div id="weekMiles" class="miles"></div> 
				<div id="weekClimb" class="miles"></div>
				</a>
			</div>
			<div id="monthInfo" class="cumulative_info">
				<a href="#rides/overview/<%=encodeURI(endOfMonth)%>">
				<div id="time_range">This month:</div>
				<div id="monthMiles" class="miles"></div> 
				<div id="monthClimb" class="miles"></div>
				</a>
			</div>
			<div id="yearInfo" class="cumulative_info">
				<a href="#rides/overview/<%=encodeURI(endOfYear)%>">
				<div id="time_range">YTD:</div>
				<div id="yearMiles" class="miles"></div> 
				<div id="yearClimb" class="miles"></div>
				</a>
			</div>
			<div id="allInfo" class="cumulative_info">
				<a href="#rides/overview/Sat%20Jan%2004%201900%2013:29:41%20GMT-0800%20(PST)">
				<div id="time_range">All time:</div>
				<div id="allMiles" class="miles"></div>
				<div id="allClimb" class="miles"></div>
				</a>
			</div>
	</div>
</div>










