<div id="show-map">
	<div class="ride_details">
		<div><%=ride.get('title')%></div>
		<div><%=ride.get('date')%></div>
		<div>Total miles: <%=ride.get('distance')%></div>
		<div>Feet of climbing: <%=ride.get('elevation')%></div>
		
		<a href="#rides/edit/<%=ride.id%>">CLICK HERE TO EDIT</a>
		<button class="edit">Edit</button>
	</div>
	<div id="map">
		<div id="map-canvas"></div>
		<div id="distance"></div>
		<div id="climb"></div>
		<div id="elevation_chart"></div>
	</div>
</div>