<!DOCTYPE html>
<html>
<div class="container">
	<head>
	  <title>RouteMapper</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEol9AdAZ6s6pgZLn9uIfcSdJn7oOwXmU">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
 
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="nav">
			<h2> RouteMapper </h2>
			<% if signed_in? %>
				<ul>
					<li><%= button_to "Sign Out", session_url, method: :delete %></li>
					<li>
						<div class="users-search">
						  <label>
						    Username
						    <input type="text" name="username">
						  </label>
						  <h4>Result</h4>
						  <ul class="users"></ul>
						</div>
					</li>
					<li><a href="#rides/new">New Ride</a></li>
					<li><a href="#">Activity Feed</a></li>
					<li><%= current_user.username %></li>
				</ul>
			<% else %>
				<%= link_to "Sign In", new_session_url %>
				<%= link_to "Sign Up", new_user_url %>
			<% end %>
		</div>

	<%= yield %>

	</body>
</div>
</html>

